.oauth2x-resource-body {
padding: 10px 0 10px 20px;
}


.oauth2x-grid .oauth2x-unpublished,
.oauth2x-grid .oauth2x-unpublished span,
.oauth2x-grid .oauth2x-unpublished a {
color: gray;
}
.x-grid3-body .x-grid3-td-checker {
background-image: none !important;
}

.oauth2x-deleted, .oauth2x-deleted span, .oauth2x-deleted a,
.oauth2x-grid .oauth2x-deleted, .oauth2x-grid .oauth2x-deleted span, .oauth2x-grid .oauth2x-deleted a {
color: red !important;
}